@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1>Međimursko veleučilište</h1>
    <p class="lead">Baza studenata</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pretraživanje i pregled</h2>
        <p>
            Pretraživanje studenata po imenu i prezimenu, upravljanje studentima
        </p>
        <p>@Html.ActionLink("Pregled", "Popis", "Studenti", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Unos novog studenta</h2>
        <p>Unos podataka o novom studentu u bazu podataka</p>
        <p>@Html.ActionLink("Unos", "Azuriraj", "Studenti", null, new { @class = "btn btn-default" })</p>
    </div>

</div>