
@{
    //ViewBag.Title = "Početna o studentima"; //Zakomentirali smo ovu liniju kako bi naziv
    //stranice bio onaj koji smo definirali u controlleru Student
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PAUP vježbe 3</h2>

Aplikacija o studentima <br/>
Fakultet: @ViewBag.Fakultet <br/>

Popis studenata @Html.ActionLink("Link", "Popis")

